{% extends 'base.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %}
<div class="d-flex justify-content-between mb-4">
  <h1>Заказы</h1>
  <div>
    {% if user.is_waiter or user.is_admin %}
      <a href="{% url 'orders:create' %}" class="btn btn-success">Новый заказ</a>
    {% endif %}
    {% if user.is_admin %}      
      <a href="{% url 'orders:revenue' %}" class="btn btn-info">Выручка</a>
    {% endif %}
  </div>
</div>

{% include 'includes/search_form.html' %}
{% include 'includes/orders_table.html' %}
{% include 'includes/pagination.html' %}
{% endblock %}